$blue: #1869ff;

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.8px;
  
}

p {
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

.w-screen {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.title-text {
    color: rgb(60, 60, 60);
  padding-top: 3rem;
  p {
    letter-spacing: 7px;
    font-family: "Poppins", sans-serif;
  }
  p:nth-child(2) {
    //position:absolute;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    margin-top: -5.5rem;
  }
  p:nth-child(1) {
    letter-spacing: 4px;
    //position:absolute;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 0.05;
  }
}

.title-textx {
  padding-top: 3rem;
  p {
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    line-height: 1.7rem;
  }
  p:nth-child(2) {
    //position:absolute;
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
    margin-top: 5.5rem;
  }
  p:nth-child(1) {
    letter-spacing: 4px;
    position: absolute;
    padding-left: 25rem;
    width: 100%;
    font-size: 15rem;
    font-weight: 700;
    opacity: 0.05;
    margin-top: -2rem;
    color:white!important;
  }
}

.hero_wrapper {
    color: rgb(60, 60, 60);
  background-image: url("../img/Img1.png");
  background-size: cover;

  &_topnav {
    padding: 0 15rem;
    padding-top: 4rem;
    .left {
      float: left;
      letter-spacing: 10px;
    }
    .right {
      float: right;
      ul {
        margin-top: -0rem;
        font-size: 0.85rem;
        list-style: none;

        li {
          display: inline;
          a {
            transition: 0.1s ease-in;
            display: inline-block;
            padding: 0.5rem 1rem;
          }
          .special {
            transition: 0.1s ease-in;
            margin-left: 1.5rem;
            border: 1px solid $blue;
            border-radius: 1rem;
            color: $blue;
          }

          .special:hover {
            background: $blue;
            color: white;
          }

          a:hover {
            color: $blue;
          }
        }
      }
    }
  }

  &_quote {
    padding-right: 8rem;
    margin-top: 10rem;
    width: 40%;
    margin-left: 60%;

    h1 {
      line-height: 2.1rem;
    }

    button {
      background: $blue;
      box-shadow: 0 0 10px rgba($blue, 0.5);
      border: none;
      padding: 0.8rem 2rem;
      border-radius: 2rem;
      color: white;
      margin-top: 2rem;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hero_wrapper {
    background-image: url("../img/Img1.png");
    background-size: cover;
    background-position: -30rem;

    &_topnav {
      display: none;
    }

    &_quote {
      width: 100%;
      margin: 0;
      padding: 5rem 3rem;

      h1 {
        line-height: 2.1rem;
        color: black;
      }

      p {
        color: white;
        background: rgba(black, 0.8);
        padding: 1em;
        opacity: 1;
      }

      button {
        background: $blue;
        box-shadow: 0 0 10px rgba($blue, 0.5);
        border: none;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        color: white;
        margin-top: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

.service_wrapper {
  width: 100%;
  padding: 0 15rem;

  &_cards {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;

    .card {
      flex: 1;
      text-align: center;
      margin: 1rem;
      padding: 2.5em 1.5em;

      img {
        height: 3rem;
      }

      p {
        letter-spacing: 0.8px;
        line-height: 19px;
      }
    }

    .card:nth-child(2) {
      background: $blue;
      color: white;
      border-radius: 5px;
      box-shadow: 0 0 30px rgba($blue, 0.5);
    }
  }
}

@media only screen and (max-width: 768px) {
  .service_wrapper {
    width: 100%;
    height: auto !important;
    padding: 0 3rem;

    &_cards {
      padding-top: 2rem;
      display: flex;
      flex-flow: row wrap;
      list-style: none;

      .card {
        flex: 0 0 100%;
        text-align: center;
        margin: 1rem;
        padding: 2.5em 1.5em;

        img {
          height: 3rem;
        }

        p {
          letter-spacing: 0.8px;
          line-height: 19px;
        }
      }

      .card:nth-child(2) {
        background: $blue;
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba($blue, 0.5);
      }
    }
  }
}



.portfolio_wrapper {
  background: #e4e4e4;
  margin-top: -5rem;
  width: 100%;
  padding: 0 15rem;
  padding-bottom: 5rem;

  &_cards {
    transition: 0.2s ease-in;
    cursor: pointer;
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    list-style: none;

    .card {
      flex: 0 0 31%;
      text-align: center;
      margin: 0.5rem;
      -ms-flex-align: center;

      img {
        width: 100%;
      }
    }

    .card:hover {
      opacity: 0.7;
    }

    .card:nth-child(6) {
      background: $blue;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4,
      h3 {
        display: block;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
    .portfolio_wrapper {
        background: #e4e4e4;
        margin-top: 5rem;
        width: 100%;
        padding: 0 3rem;
        padding-bottom: 5rem;
      
        &_cards {
          transition: 0.2s ease-in;
          cursor: pointer;
          padding-top: 2rem;
          display: flex;
          flex-flow: row wrap;
          list-style: none;
      
          .card {
            flex: 0 0 44%;
            text-align: center;
            margin: 0.5rem;
            -ms-flex-align: center;
      
            img {
              width: 100%;
            }
          }
      
          .card:hover {
            opacity: 0.7;
          }
      
          .card:nth-child(6) {
            background: $blue;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            h4,
            h3 {
                color:white;
              display: block;
              width: 100%;
            }
          }
        }
      }
  }

.quote_wrapper {
  padding: 4rem 15rem;

  .left {
    width: 80%;
    display: inline-block;
  }

  .right {
      float:right;
    width: 20%;
    display: inline-block;
    button {
      font-size: 0.7em;
      color: $blue;
      border: 1px solid $blue;
      padding: 0.8rem 2rem;
      border-radius: 2rem;
      margin-top: 1rem;
      font-weight: 600;
      float: right;
      margin-top: 1rem;
    }
    button:hover {
      background: $blue;
      color: white;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
    .quote_wrapper {
        padding: 4rem 3rem;
      
        .left {
          width: 80%;
          display: block;
        }
      
        .right {
            float:none;
          width: 20%;
          display: block;
          button {
            font-size: 0.7em;
            color: $blue;
            border: 1px solid $blue;
            padding: 0.8rem 2rem;
            border-radius: 2rem;
            margin-top: 1rem;
            font-weight: 600;
            float:none;
            width:10rem;
          }
          button:hover {
            background: $blue;
            color: white;
            cursor: pointer;
          }
        }
      }
  }

.feedback_wrapper {
  background: #e4e4e4;
  height: 100vh;

  .carousel {
    div {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      h6 {
        margin-bottom: 1rem;
      }

      p {
        width: 50%;
        line-height: 18px;
        text-align: center;
        padding-bottom: 5rem;
      }
    }
  }
}

footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    li {
      display: inline;

      a {
        font-size: 0.7em;
        padding: 0 1em;
      }

      input {
        margin-left: 4em;
        border-radius: 1rem;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
        width: 10rem;
      }
      i {
        position: absolute;
        margin-left: -2rem;
        margin-top: 0.3rem;
      }
    }
  }

  .social_media {
    div {
        cursor: pointer;
      height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      margin: 1rem;
      background: rgb(216, 216, 216);
      color: grey;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    div:nth-child(2) {
      background: $blue;
      color: white;
      box-shadow: 0 0 20px rgba($blue, 0.5);

      i {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
    footer {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
          li {
            display: inline;
      
            a {
              font-size: 0.7em;
              padding: 0 1em;
            }
      
            input {
                margin-top:1rem;
              margin-left: 4em;
              border-radius: 1rem;
              padding: 0.3rem 1rem;
              border: 1px solid gray;
              width: 10rem;
            }
            i {
              position: absolute;
              margin-left: -2rem;
              margin-top: 1.3rem;
            }
          }
        }
      
        .social_media {
          div {
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            border-radius: 2rem;
            margin: 1rem;
            background: rgb(216, 216, 216);
            color: grey;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
      
          div:nth-child(2) {
            background: $blue;
            color: white;
            box-shadow: 0 0 20px rgba($blue, 0.5);
      
            i {
              color: white;
            }
          }
        }
      }
  }


  .mobile_nav{
      display: none;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .mobile_nav{
       padding:0.5em 3em;
       width:100%;
       position: fixed;
       display:block;
       height:5vh;
       background:#f1f1f1;
       box-shadow: 0 10px 10px rgba(0,0,0,0.1);
   }
  }